{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Interviewee Bot Analysis</title>
</head>
<body>
    <div class="logo-navbar">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid all-show">
                <a href="{% url 'home_page:home' %}"  >  <img src="{% static 'photos/logo.png' %}" class="logo-image" alt="logo" /></a>
            </div>
            <section class="wrapper">
                <nav class="navbar navbar-expand-md">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a href="{% url 'user_session:login' %}" class="nav-link login-link" style="color:white">Login</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle my-account-link" href="#" id="accountsDropdown" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false" style="color:white">My Account</a>
                                    <ul class="dropdown-menu" style="background-color:#031E1B"  aria-labelledby="accountsDropdown">
                                        <li><a href="{% url 'user_session:dashboard' %}" class="dropdown-item" style="color:white;text-decoration:none">Dashboard</a></li>
                                        <li><a href="#" class="dropdown-item" style="color:white;text-decoration:none">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </section>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="link-section">
            <div class="content"><a href="{% url 'home_page:home' %}" style="text-decoration: none;"><p>Overview</p> </a>
            </div>
            <div class="content_active">
            <a href="{% url 'home_page:domain' %}" style="text-decoration: none;"><p>Domains</p> </a>
            </div>
        </div>
    </div>
        <div class="guide">
            <p class="guide-text">
                Ready to take your interview preparation to the next level? Choose from our top domains below and dive into an immersive experience with on-the-spot and accurate analysis to gauge your readiness.
                </p>
                <p class="guide-text" style="margin-bottom: 0%">
                Follow these simple steps to attempt the quiz:
                </p>
                <ul>
                <li>Choose any one of the domains below and click on "Start Interview."</li>
                <li>Select the duration of your interview.</li>
                <li>Allow access to your camera when prompted, and begin answering the questions.</li>
                <li>Click "Stop" when you're finished, and receive comprehensive evaluation and insightful suggestions from our bot to enhance your performance.</li>
                </ul>
                <p class="guide-text">
                Happy Learning!
                </p>
        </div>

        <!--Field 1-->
        <div class="field">
            <p class="domain-title">Engineering</p>
            <div class="row">
                <div class="col-lg-7">
                    <div class="field-text">
                        Looking to sharpen your interview skills in the field of engineering? Our platform offers a tailored experience specifically for 
                        engineering candidates, providing real-time analysis and feedback to enhance your readiness. With questions from Software Engineering, 
                        Object Programming, ML and so on along with our comprehensive evaluation and expert suggestions, you'll be well-equipped to ace your 
                        engineering interviews with confidence. Start your journey towards interview success in the engineering domain today! 
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="field-content">
                        <img src="{% static 'photos/engi-grad.png' %}" class="field-image" alt="Engineering Graduate" />
                        <div class="field-button">
                            <a href="{% url 'analysis:start_interview' %}" style="text-decoration:none"><p class="field-button-text">Start Interview</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!--Field 2-->
        <div class="field1">
            <p class="domain-title">BBA</p>
            <div class="row">
                <div class="col-lg-7">
                    <div class="field-text">
                        Looking to refine your interview skills in the realm of Business Administration? Our platform offers a customized experience designed 
                        specifically for business administration candidates. We provide real-time analysis and feedback to elevate your preparedness. With
                         questions spanning areas such as strategic management, finance, marketing, and more, coupled with our comprehensive evaluation and 
                         expert suggestions, you'll be primed to excel in your business administration interviews with confidence. Embark on your path to 
                         interview success in the business administration domain today!
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="field-content">
                        <img src="{% static 'photos/bba-grad.png' %}" class="field-image" alt="Engineering Graduate" />
                        <div class="field-button">
                            <a href="{% url 'analysis:start_interview' %}" style="text-decoration:none"><p class="field-button-text">Start Interview</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Field 3-->
        <div class="field">
            <p class="domain-title">Finance</p>
            <div class="row">
                <div class="col-lg-7">
                    <div class="field-text">
                        Eager to enhance your interview prowess in the dynamic field of finance? Our platform is tailored to cater to finance professionals,
                         offering real-time analysis and feedback to bolster your readiness. With a curated selection of questions covering topics such as 
                         financial modeling, investment analysis, risk management, and more, combined with our thorough evaluation and expert recommendations,
                          you'll be equipped to ace your finance interviews with assurance. Take the first step towards interview triumph in the finance domain
                           today!
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="field-content">
                        <img src="{% static 'photos/fin-grad.png' %}" class="field-image" alt="Engineering Graduate" />
                        <div class="field-button">
                            <a href="{% url 'analysis:start_interview' %}" style="text-decoration:none"><p class="field-button-text">Start Interview</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Field 4-->
        <div class="field1">
            <p class="domain-title">Management</p>
            <div class="row">
                <div class="col-lg-7">
                    <div class="field-text">
                        Looking to elevate your interview skills in the multifaceted realm of management? Our platform is meticulously crafted to cater to
                         management candidates, delivering real-time analysis and feedback to amplify your preparedness. With an array of questions spanning
                          strategic management, organizational behavior, leadership, and beyond, complemented by our thorough evaluation and expert guidance,
                           you'll be poised to excel in your management interviews with conviction. Embark on your journey towards interview success in the 
                           management domain today!
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="field-content">
                        <img src="{% static 'photos/mba-grad.png' %}" class="field-image" alt="Engineering Graduate" />
                        <div class="field-button">
                            <a href="{% url 'analysis:start_interview' %}" style="text-decoration:none"><p class="field-button-text">Start Interview</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <img  class="footer-logo" src="{% static 'photos/logo.png' %}" alt="logo" />
            <p class="footer-text">@Copyright 2024. All rights reserved.</p>
        </div>
    
    
</body>
</html>